@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.cl-start-wrap {
    list-style: none;
    padding: 0;
    width: 300px;
    border: 1px solid #D0D0D0;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.09);
}

.cl-start-wrap ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 5px;
}

.cl-start-wrap>li>.cl-label-wrap {
    padding: 7px 0 7px 0;
    margin: 1px 0;

}

.cl-start-wrap>li>.cl-label-wrap:hover {
    background: #D9E5FD;
}

.cl-start-wrap>li>ul>li>.cl-label-wrap {
    padding: 7px 0 7px 25px;
    background: #ffffff;
}

.cl-start-wrap>li>ul>li>.cl-label-wrap:hover {
    background: #D9E5FD
}

.cl-start-wrap>li>ul>li>ul>li>.cl-label-wrap {
    padding: 7px 0 7px 50px;
    background: #ffffff;
}

.cl-start-wrap>li>ul>li>ul>li>.cl-label-wrap:hover {
    background: #D9E5FD;
}

.cl-item>.cl-label-wrap .cl-label-title {
    cursor: pointer;
}

.cl-item>.cl-label-wrap .cl-label-icon {
    cursor: pointer;
    text-align: center;
}

.cl-item>.cl-label-wrap .cl-label-icon:before {
    cursor: pointer;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.cl-item>.cl-label-wrap .cl-label-tools a {
    display: none;
}

.cl-item>.cl-label-wrap .cl-label-tools a:hover {
    color: #D9E5FD;
}

.cl-item:not(.cl-item-open)>ul {
    display: none;
}

.cl-item:not(.cl-item-open)>.cl-label-wrap .cl-label-icon:before {
    content: "\f0da";
}

.cl-item.cl-item-open>.cl-label-wrap .cl-label-icon:before {
    content: "\f0d7";
}

.cl-item.cl-item-no-sub>.cl-label-wrap .cl-label-title {
    cursor: default;
}

.cl-item.cl-item-no-sub>.cl-label-wrap .cl-label-icon:before {
    content: "";
}

.cl-label-wrap {
    display: table-cell;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
}

.cl-label-wrap .cl-label-title {
    order: 1;
    flex: 1 1 auto;
    align-self: auto;
}

.cl-label-wrap .cl-label-icon {
    order: 0;
    flex: 0 1 1.5em;
    align-self: auto;
}

.cl-label-wrap .cl-label-tools {
    order: 2;
    flex: 0 1 auto;
    align-self: auto;
    white-space: nowrap;
    padding: 0 10px;
}

span{
    color: rgb(20, 19, 19);
    font-weight: 500;
    font-size: 19px;
}

.cl-label-wrap img {
    width: 34px; /* Adjust the width as needed */
    height: 16px; /* Adjust the height as needed */
    margin-right: 5px; /* Adjust the margin as needed */
  }

.fa{
    color: #444446;

  }
  .cl-label-wrap:hover {
    background-color: #D9E5FD; /* Change background color on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
  }

  .cl-label-title{
    color: black;
    font-size: 18px;
    
  }
.cl-label-title:hover {
    color: #2B5CC6;
}
.cl-label-title:hover .fa{
    color: #2B5CC6;
}
.cl-label-title:hover{
    color: #2B5CC6;
}
.column_space{
    padding-left: 48px;
}
